@font-face {
    font-family: "Finder";
    src: url("./assets/fonts/Finder.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0q;
    font-family: "Finder";
    background-color: #404040;
    color: #FFFFFF;
}

div {
    text-align: center;
    margin-top: 20;
}

#cap {
    font-size: 20px;
    width: 100%;
    background-color: #B45F06;
    text-align: center;
    box-shadow: 0q 10q 5q 2q rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 10;
}

#cap ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
    position: relative;
    top: -25q;
}

#cap li a:hover {
    text-shadow: 2q 2q 5q #000000;
}

#cap li {
    display: inline;
    margin: 10
}

#cap li a {
    text-decoration: none;
    color: #FFFFFF;
    width: 200q;
    height: 75q;
    font-size: 30;
    color: #f5f5f5;
    text-align: center;
    margin: 10q;

}

li a:visited {
    color: #FFFFFF;
}

.player_card {
    background-color: #ffffff;
    color: #404040;
    width: 100%;
    box-shadow: 8q 10q 5q 2q #3232324d;
    clip-path: polygon(0 0,100% 0,100% 0%,100% 100%,14q 100%,0 calc(100% - 14q));   
}

.player_image {
    width: 100%;
}

.player_desc {
    text-align: justify;
    padding-left: 20q;
    padding-right: 20q;
    margin-bottom: 10q;
    font-size: 20q;
}

#logo {
    position: relative;
    top: 30q;
    margin-top: auto;
    margin-bottom: auto;
}

#first_title {
    margin-top: 100q;
    text-align: center;
}

#results {
    border: 1q solid #FFFFFF;
    border-collapse: collapse;
    font-size: 20q;
    width: 1200q;
    color: #FFFFFF;
    background-color: #404040;
    margin: auto;
}

#results td,th {
    border: 3q solid #FFFFFF;
    padding: 10q;
    text-align: center;
}

#ps {
    text-align: center;
}

#replaymod {
    color:#7c7b7b;
    text-decoration: none;
}

#replaymod:hover {
    color:#7c7b7b;
}

#undefined {
    text-align: center;
}

.altai {
    background-color: #B45F06;
}

.gazmyas {
    background-color: #8E0000;
}

.adjaro {
    background-color: #00CC99;
}

.dota {
    background-color: #EC9C32;
}

.vikings {
    background-color: #149888;
}

.tigr {
    background-color: #2101E1;
}

.Deutchland {
    background-color: #C4E600;
}

.warden {
    background-color: #073763;
}

.bears {
    background-color: #000000;
}

.sosal {
    background-color: #FFC000;
}

.POTOM {
    background-color: #FF0000;
}

.carrots {
    background-color: #033D15;
}

.turtles {
    background-color: #2B5C12;
}

.boosters {
    background-color: #FB47B2;
}

.invert {
    filter: invert(1);
}

.new {
    position: relative;
    display: block;
    background-color: #ffffff;
    color: #404040;
    text-align: left;
    margin-top: 40q;
    width: 700q; 
    height: 100%;
    box-shadow: 0q 10q 5q 2q rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0,100% 0,100% 0%,100% 100%,14q 100%,0 calc(100% - 14q));
    z-index: 3;
    transition: all 200ms ease

}

.new:hover {
    color: #B45F06;
}

.news_date {
    text-align: right;
    margin-right: 20q;
    position: absolute;
    bottom: 0;
    right: 10q;
}

.news_image {
    width: 700q;
    margin: 0q;
}

.news_title {
    margin-left: 20q;
}

.news_link {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    width: 700q;
    flex-wrap: column;
}

.news {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0q 20q;
    width: 1500q;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    justify-content: center;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.main_news {
    padding: 20q;
    width: 1000q;
    margin: auto;
    font-size: 30px;

}

.players {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0q 20q;
    grid-template-columns: repeat(4, 1fr);
    width: 2500q;
    margin: auto;
}

@media (max-width: 2000px) {
    .news {
        grid-template-columns: repeat(2, 1fr);
    }
}
