@font-face {
    font-family: "Rubik";
    src: url("/assets/fonts/Rubik-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0px;
    font-family: "Rubik";
    background-color: #404040;
    color: #FFFFFF;
    padding-left: 40px;
}

div {
    text-align: center;
    margin-top: 20;
}

#cap {
    font-size: 40;
    width: 100%;
    background-color: #B45F06;
    text-align: left;
    box-shadow: 0px 10px 5px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    margin-left: -40px;

}

#cap ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
    position: relative;
    top: -25px;
}

#cap li a:hover {
    text-shadow: 2px 2px 5px black;
}

#cap li {
    display: inline;
    margin: 10
}

#cap li a {
    text-decoration: none;
    color: #FFFFFF;
    width: 200px;
    height: 75px;
    font-size: 30;
    color: whitesmoke;
    background: #B45F06;
    text-align: center;
    margin: 10px;

}

li a:visited {
    color: whitesmoke;
}

.player_card {
    background-color: rgb(174, 175, 176);
    width: 20%;
    margin-left: 2.5%;
    padding-bottom: 5px;
    border-radius: 30px;
    box-shadow: 8px 10px 5px 2px rgba(50, 50, 50, 0.3);
}

.player_image {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.player_desc {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#logo {
    position: relative;
    top: 25px;
}

#first_title {
    margin-top: 100px;
}

#results {
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
    font-size: 40px;
}

#results td,
th {
    border: 1px solid #FFFFFF;
    padding: 20px;
    text-align: center;
}

.altai {
    background-color: #B45F06;
}

.gazmyas {
    background-color: #8E0000;
}

.adjaro {
    background-color: #00CC99;
}

.dota {
    background-color: #EC9C32;
}

.vikings {
    background-color: #149888;
}

.tigr {
    background-color: #2101E1;
}

.Deutchland {
    background-color: #FFFF00;
    color: black
}

.warden {
    background-color: #073763;
}

.bears {
    background-color: #000000;
}

.sosal {
    background-color: #FFC000;
}

.POTOM {
    background-color: #FF0000;
}

.carrots {
    background-color: #033D15;
}

.turtles {
    background-color: #2B5C12;
}

.boosters {
    background-color: #FB47B2;
}