body {
    margin: 0px;
}

div {
    text-align: center;
    margin-top: 20;
}

#cap {
    font-size: 40;
    width: 100%;
    background-color: orange;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
}

li a:hover {
    text-shadow: 2px 2px 5px purple;
    background: #fcdd88;
}

li {
    display: inline;
    margin: 10
}

li a {
    text-decoration: none;
    color: #FFFFFF;
    width: 200px;
    height: 75px;
    font-size: 30;
    font-family: Arial Black;
    color: #0FA;
    background: orange;
    text-align: center;
}

li a:visited {
    color: #0FA;
}